_build
build
RTE

*.uvguix.user
*.uvoptx

JLinkLog.txt
JLinkSettings.ini

# ignore extension for Visual Studio
*.obj
*.db

# ignore sub directories
Release
core
.vs

# ignore for NetBeans
nRF52840_app/examples/ble_peripheral/ble_app_hrs_proj/nbproject/private/*
nRF52840_app/examples/ble_peripheral/ble_app_hrs_proj/nbproject/configurations.xml

nRF52840_app/examples/dfu/secure_bootloader_proj/nbproject/private/*
nRF52840_app/examples/dfu/secure_bootloader_proj/nbproject/configurations.xml

nRF52840_app/examples/diverta/secure_device_app_proj/nbproject/private/*
nRF52840_app/examples/diverta/secure_device_app_proj/nbproject/configurations.xml

# ignore eagle files
*.b#*
*.s#*
*.l#*
*.epf

# ignore for macOS
.DS_Store

# ignore for nRF Connect SDK
pyvenvs/ncs/.west
pyvenvs/ncs/bin
pyvenvs/ncs/bootloader
pyvenvs/ncs/include
pyvenvs/ncs/lib
pyvenvs/ncs/mbedtls
pyvenvs/ncs/modules
pyvenvs/ncs/nrf
pyvenvs/ncs/nrfxlib
pyvenvs/ncs/test
pyvenvs/ncs/tools
pyvenvs/ncs/zephyr
pyvenvs/ncs/pyvenv.cfg
pyvenvs/ncs/west-completion.bash

# ignore for nRF5340_app
pyvenvs/ncs/nRF5340_app/secure_device_app/build_signed
pyvenvs/ncs/nRF5340_app/secure_device_app_proj/nbproject/private
