_build
RTE

*.uvguix.user
*.uvoptx

JLinkLog.txt
JLinkSettings.ini

# ignore extension for Visual Studio
*.obj
*.db

# ignore sub directories
Release
core
.vs

# ignore for NetBeans
nRF5_SDK_v15.2.0/examples/diverta/one_card_peripheral_proj/nbproject/private/private.xml
nRF5_SDK_v15.2.0/examples/diverta/one_card_peripheral_proj/nbproject/private/configurations.xml

# ignore eagle files
*.b#*
*.s#*
*.l#*
*.epf

nRF5_SDK_v15.2.0/external/micro-ecc/micro-ecc/
