_build
RTE

*.uvguix.user
*.uvoptx

JLinkLog.txt
JLinkSettings.ini

# ignore sub directories for Visual Studio
obj
Release

# ignore sub directories
core
.vs

# ignore for NetBeans
private
build_signed
build

# ignore eagle files
*.b#*
*.s#*
*.l#*
*.epf

# ignore for macOS
.DS_Store

# ignore for nRF Connect SDK
pyvenvs/ncs/.west
pyvenvs/ncs/bin
pyvenvs/ncs/bootloader
pyvenvs/ncs/include
pyvenvs/ncs/lib
pyvenvs/ncs/mbedtls
pyvenvs/ncs/modules
pyvenvs/ncs/nrf
pyvenvs/ncs/nrfxlib
pyvenvs/ncs/test
pyvenvs/ncs/tools
pyvenvs/ncs/zephyr
pyvenvs/ncs/pyvenv.cfg
pyvenvs/ncs/west-completion.bash
