# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

#
# Enable the customized source
#
config MCUMGR_SMP_BT_CUSTOM
	bool "Bluetooth mcumgr SMP transport"
	select BT
	select BT_PERIPHERAL
	select BT_GATT_DYNAMIC_DB
	help
	  Enables handling of SMP commands received over Bluetooth.

#
# Application settings
#
config APP_SETTINGS_BUFFER_SIZE
	int "Read buffer size for app_settings"
	default 128
	depends on SETTINGS && SETTINGS_NVS
	help
	  Size of buffer for reading data from NVS

#
# Enable ATECC608A
#
config USE_ATECC608A
	bool "Use ATECC608A"
	default n
	help
	  Enables using of ATECC608A as EC crypto hardware

source "Kconfig.zephyr"
