# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# Application settings
#
config APP_SETTINGS_BUFFER_SIZE
	int "Read buffer size for app_settings"
	default 128
	depends on SETTINGS && SETTINGS_NVS
	help
	  Size of buffer for reading data from NVS

config APP_SETTINGS_THREAD_STACK_SIZE
	int "Stack size for application thread"
	default 2048
	help
	  Size of stack area used by application thread

config APP_SETTINGS_THREAD_PRIORITY
	int "Priority for application thread"
	default 7
	help
	  Number of scheduling priority used by application thread

#
# Enable ATECC608A
#
config USE_ATECC608A
	bool "Use ATECC608A"
	default n
	help
	  Enables using of ATECC608A as EC crypto hardware

source "Kconfig.zephyr"
